

<p id="no-results-header">Looks like no one likes to code in your area. <br />
It's time to move, buddy!</p>
<div class="no-results-photo"><img src="http://media1.giphy.com/media/K5CULzwBU03HG/original.gif" /></div>