

<p id="no-results-header">Looks like no one likes to code in your area. <br />
It's time to move, buddy!</p>


<form action="/remotable" method="post" class="form-inline largeinput remotable">
  <button class="btn btn-primary" type="submit">I'm interested in remote pairing</button>
</form>


<div class="no-results-photo">
  <img src="http://media1.giphy.com/media/K5CULzwBU03HG/original.gif" />
</div>