<div class="container matches">
  <div class="span2"></div>

  <div class="span8 right-column">
    <h1 id='form-header'>Stay Tuned!</h1>
    <hr>
      <h3 class="no-results-header">
        We'll email you once someone is available for remote pairing!
      </h3>
      <div class="no-results-photo">
        <%= image_tag("minions.gif") %>
      </div>
  </div>
  <div class="span2"></div>
</div>






