<h1>Matches</h1>

I found
<%= @results.count %>
nerds in your area:

<%- @results.each do |result| %>
<p><%= result.firstname %> is a great match for you! You can contact him/her at this email: 
<%= result.email %>
</p>
<% end %>

