<h1>Matches</h1>

I found
<%= @results.count %>
nerds in your area:

<%- @results.each do |result| %>
<p><%= result.firstname %> is a great match for you! Check hist profile here : <%= link_to result.lastname, user_path(result.lastname) %>
<% result.level %> <% result.language.language %>
</p>
<% end %>

