<div class="container matches">
  <div class="span2"></div>

  <div class="span8 right-column">
    <h1 id='form-header'>Matches</h1>
    <hr>
      <h3>
        <% if @results.count == 1 %>
          <%= render partial: "oneresult" %>

        <% elsif @results.count == 0 %>  

          <%= render partial: "noresults" %>
        
        <% else %>

          <%= render partial: "manyresults" %>

        <% end %>
      </h3>
  </div>
  <div class="span2"></div>
</div>



