<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
</head>

<body>
  <!-- This file lives in public/404.html -->
  <div class="error_page">
    <%= image_tag("404cat.png") %>
  </div>
</body>
</html>
