<div class="container">
	<div class="row">
		<div class="span11 profile-container">
			<h1 id='form-header'><%= @id.capitalize %>'s Profile</h1>
			<hr>
		  <div class="span5">
		    <h4>Repos</h4>
		    <div data-hull-widget='repos' data-hull-login='<%= @id %>'></div>
		  </div>
		  <div class="span5">
		    <h4>Wall</h4>
		    <div data-hull-widget='comments@hull' data-hull-uid='user/<%= @id %>'></div>
		  </div>
		</div>
	</div>
</div>