
<div class='hero-unit'>
  <div data-hull-widget='identity@hull'></div>

  <pre>Current User: <%= @github_user.inspect %></pre>

  <% if @github_user %>
  <div class="well" data-hull-widget="repos" data-hull-login='<%= @github_user['login'] %>'></div>
  <% end %>

</div>
  

<hr>


<div data-hull-widget='match' data-hull-login="<%= @github_user['login'] %>"></div>


