{{#if loggedIn}}
  Logged in as {{me.name}} <br><a class="sign-out" href="#" data-hull-action='logout'>Git Out</a>
{{else}}
  <button data-hull-action="login" data-hull-provider="github" class="btn btn-github"> Sign In with Github to Git Matched Today!</button>
{{/if}}

