<table class='table'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Forks</th>
    <th>Watchers</th>
  </tr>
  {{#repos}}
  <tr>
    <td>{{full_name}}</td>
    <td>{{description}}</td>
    <td>{{forks_count}}</td>
    <td>{{watchers_count}}</td>
  </tr>
  {{/repos}}
</table>
