<table class="table">
  <% @matches.each do |match| %>
  <tr>
    
    <td><%= link_to match.repo, "/matches/#{match.id}" %></td>
    <td><%= match.user.firstname %></td>
    <td><%= link_to match.user.lastname, user_path(match.user.lastname) %></td>
  </tr>
  <% end %>
</table>