<h2><%= @match.repo %> <small>by <%= @match.user.firstname %></small></h2>

<div class="row">
  <div class="span6">
    <h4>Match</h4>
    <%= debug @match %>
  </div>
  <div class="span6">
    <h4>Comments</h4>
    <div data-hull-widget='comments@hull' data-hull-uid='match/<%= @match.id %>'></div>
  </div>
</div>