.profile-container {
  background: rgba(255, 255, 255, 0.4);
  padding: 30px;
  box-shadow: 0 0 2px #a9a9a9;
  min-height: 460px;
}

.delete {
  text-decoration: none;
  color: #b94a48;
}

.media-heading {
  color: $secondarycolor;
}

/* Fixes issue where user without avatar sees huge Octocat when they visit user profile on comment side of page */
.hull-comments__form img, .hull-comments__list img {
  width: 80px;
  height: 80px;
}

.table th {
	width: 50%;
}