@import "variables";

.hero-unit h1 {
  color: $primarycolor;
  font-size: 60px;
}

.hero-unit h2 {
  color: $secondarycolor;
  text-align: right;
  font-size: 56px;
  margin-top: 30px;
}

.hero-unit {
  margin-top: 80px;
  margin-bottom: 0;
  padding-bottom: 30px;
  background-color: transparent;
}

.rw-words {
  display: inline;
  text-indent: 20px;
}

.rw-words-1 span{
  position: absolute;
  opacity: 0;
  -webkit-animation: rotateWord 12s linear infinite 0s;
  -moz-animation: rotateWord 12s linear infinite 0s;
  -o-animation: rotateWord 12s linear infinite 0s;
  -ms-animation: rotateWord 12s linear infinite 0s;
  animation: rotateWord 12s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}

.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  -ms-animation-delay: 8s;
  animation-delay: 8s;
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

@-moz-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -moz-transform: translateY(-30px); }
  5% { opacity: 1; -moz-transform: translateY(0px);}
  17% { opacity: 1; -moz-transform: translateY(0px); }
  20% { opacity: 0; -moz-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.splash-image {
  width: 100%;
}

.subheading h3 {
  text-align: center;
  color: $primarycolor;
  letter-spacing: .04em;
  font-weight: 300;
}

.map_container {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2%;
}

.gmaps4rails_map {
  width: 100%;
}

// This prevents Bootstrap from distorting Google Maps Controls and Overlays

#map label {
  width: auto;
  display:inline;
}

#map img {
  max-width: none;
}