<footer>
<!-- BEGIN #socialMedia -->
      <div class="social-icons">
        <ul id="socialmedia">
          <li class="FB"><a target="_blank" href="http://www.facebook.com/codermatch"></a></li>
          <li class="Twitter"><a target="_blank" href="http://www.twitter.com/codermatch"></a></li>
        </ul>
      </div>
      <div class="contact">
        <p>Made with <span>&hearts;</span> by
          <%= link_to "Joanne", "https://twitter.com/jdaudier", :target => "_blank" %>,
          <%= link_to "Gene", "https://twitter.com/gdiingo", :target => "_blank" %>, &amp;
          <%= link_to "Krista", "https://twitter.com/ikristaw", :target => "_blank" %>
        </p>
      </div>
<!-- END #socialMedia -->
</footer>