<footer>
<!-- BEGIN #socialMedia -->
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <ul id="socialmedia">
          <li class="FB"><a target="_blank" href="http://www.facebook.com/codermatch"></a></li>
          <li class="Twitter"><a target="_blank" href="http://www.twitter.com/codermatch"></a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- END #socialMedia -->
</footer>