<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul>
      <li class="name"><h1><a href="#">CoderMatch</a></h1></li>
      <li><%= image_tag("codermatch-logo.svg", :alt => "CoderMatch Logo", :class => "brand") %>
      </li>
      <li>
        <div class="github-button">        
          <% if @current_user %>
          Logged in as <%= @current_user.name %>
          <br>
          <a href="#" class="sign-out" onclick='Hull.logout()'>Git Out</a>
          <% else %>
          <button class="btn" onclick="Hull.login('github')">Log in with GitHub</button>
          <% end %>
        </div>

      </li>
    </ul>
  </div>
</div>