<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul>
      <li class="name"><h1><a href="#">CoderMatch</a></h1></li>
      <li><%= image_tag("codermatch-logo.svg", :alt => "CoderMatch Logo", :class => "brand") %>
      </li>
      <li><div class="github-button" data-hull-widget='identity@hull' data-hull-provider='github'></div></li>
    </ul>
  </div>
</div>