<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container header">
    <ul>
      <li class="name"><h1><a href="#">CoderMatch</a></h1></li>
      <li><a href="/"><%= image_tag("codermatch-logo.svg", :alt => "CoderMatch Logo", :class => "brand") %></a>
      </li>
      <li>
        <div class="github-button">
          <% if @current_user && @current_user.id != nil %>
            <!-- Original text: -->
            <!-- Logged in as <%= @current_user.name %> -->
            <%= link_to "My Profile", user_path(@current_user.login), :class => "profile-link" %></span>
            <br>
            <!-- This resolves the bug of logging out from user profile and redirecting to homepage: onclick="Hull.logout().then(function () {window.location = '/'})-->

            <a href="#" class="sign-out" onclick="Hull.logout().then(function () {window.location = '/'})">Git Out</a>
          <% elsif @current_user %>
              <a href="#" class="sign-out" onclick="Hull.logout().then(function () {window.location = '/'})">Git Out</a>
          <% else %>
            <button class="btn" onclick="Hull.login('github')"><i class="fa fa-github fa-lg"></i> Log in with GitHub</button>
          <% end %>
        </div>

      </li>
    </ul>
  </div>
</div>

